* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 700px;
  margin: 2% 0 0 25%;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  
  grid-template-rows: 100px 100px 100px;
}

.items1 {
}

.items2 {
}

.items3 {
}

.items4 {
}

.items5 {
}

.items6 {
}
.items7 {
}
